{% extends 'base.html' %}
{% load static %}

{% block title %}Fasce Orarie{% endblock %}

{% block content %}

<div class="contenitore-centrale">
    <aside class="colonna-filtro">
        <h3>Filtra le Fasce Orarie</h3>
        <form id="filtro-fasce_orarie-form">
            <label for="sala">Codice Sala:</label>
            <input type="text" id="sala" name="sala" value="<?php echo $fasce_filtro ?>"><br>

            <label>Data:</label>
            <div class="input-range">
                <input type="date" id="data_inizio" name="data_inizio">
                <span>-</span>
                <input type="date" id="data_fine" name="data_fine">
            </div><br>

            <label>Ora:</label>
            <div class="input-range">
                <input type="time" id="ora_inizio" name="ora_inizio">
                <span>-</span>
                <input type="time" id="ora_fine" name="ora_fine">
            </div><br>

            <label>Durata:</label>
            <div class="input-range">
                da <input type="number" id="durata_inizio" name="durata_inizio" placeholder="min">
                <span>a</span>
                <input type="number" id="durata_fine" name="durata_fine" placeholder="max">
            </div><br>

            <button type="submit">Cerca</button>
        </form>
    </aside>

    <main class="colonna-risultati" id="risultati">
        <h2>FASCE ORARIE</h2>

        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Codice Sala</th>
                        <th>Data</th>
                        <th>Ora</th>
                        <th>Durata</th>
                    </tr>
                </thead>
                <tbody id="risultati-tabella-fasce_orarie">
                </tbody>
            </table>
        </div>
    </main>
</div>

{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/crud_functions.js' %}"></script>
    <script src="{% static 'js/sale_logic.js' %}"></script>
{% endblock extra_scripts %}