{% extends 'base.html' %}
{% load static %}

{% block title %}Abbonamenti{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">

        <aside class="col-12 col-lg-3 mb-4 colonna-filtro">

            <h3 class="h5 mb-3">Filtra gli abbonamenti</h3>

            <form id="filtro-abbonamenti-form" method="get">

                <label for="nAbb">Codice Abbonamento:</label>
                <input type="text" id="nAbb" name="nAbb" value="{{ filters.nAbb }}"><br>

                <label for="cliente">Codice Cliente:</label>
                <input type="text" id="cliente" name="cliente" value="{{ filters.cliente }}"><br>

                <label>Data di inizio:</label>
                <div class="input-range">
                    <input type="date" id="inizio_abbonamento_min" name="inizio_abbonamento_min" value="{{ filters.inizio_abbonamento_min }}">
                    <span>-</span>
                    <input type="date" id="inizio_abbonamento_max" name="inizio_abbonamento_max" value="{{ filters.inizio_abbonamento_max }}">
                </div><br>

                <label>Data di fine:</label>
                <div class="input-range">
                    <input type="date" id="fine_abbonamento_min" name="fine_abbonamento_min" value="{{ filters.fine_abbonamento_min }}">
                    <span>-</span>
                    <input type="date" id="fine_abbonamento_max" name="fine_abbonamento_max" value="{{ filters.fine_abbonamento_max }}">
                </div><br>

                <label>Prezzo:</label>
                <div class="input-range">
                    da <input type="number" id="prezzo_min" name="prezzo_min" placeholder="min" value="{{ filters.prezzo_min }}">
                    <span>a</span>
                    <input type="number" id="prezzo_max" name="prezzo_max" placeholder="max" value="{{ filters.prezzo_max }}">
                </div><br>

                <button type="submit" class="btn-modifica">Cerca</button>
                <a href="{% url 'abbonamenti:index' %}" class="btn-reset">Reset</a>
            </form>
        </aside>

        <main class="col-12 col-lg-9" id="risultati">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>ABBONAMENTI</h2>
            </div>

            <div class="table-responsive shadow-sm table-wrapper">
                <table class="table align-middle mb-0">
                    <thead>
                        <tr>
                            <th class="sortable" onclick="sortTable('nAbb')" data-column="nAbb"
                                style="cursor: pointer;">
                                <u>Codice</u><span class="sort-icon"></span>
                            </th>
                            <th class="sortable" onclick="sortTable('cliente')" data-column="cliente"
                                style="cursor: pointer;">
                                <u>Cliente</u><span class="sort-icon"></span>
                            </th>
                            <th class="sortable" onclick="sortTable('inizio')" data-column="inizio"
                                style="cursor: pointer;">
                                <u>Data Inizio</u><span class="sort-icon"></span>
                            </th>
                            <th class="sortable" onclick="sortTable('fine')" data-column="fine"
                                style="cursor: pointer;">
                                <u>Data Fine</u><span class="sort-icon"></span>
                            </th>
                            <th class="sortable" onclick="sortTable('prezzo')" data-column="prezzo"
                                style="cursor: pointer;">
                                <u>Prezzo</u><span class="sort-icon"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="risultati-tabella-abbonamenti">
                        {% for abbonamento in abbonamenti_data %}
                        <tr>
                            <td>{{ abbonamento.nAbb }}</td>
                            <td>{{ abbonamento.cliente }}</td>
                            <td>{{ abbonamento.inizio }}</td>
                            <td>{{ abbonamento.fine }}</td>
                            <td>{{ abbonamento.prezzo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'abbonamenti/abbonamenti_logic.js' %}"></script>
{% endblock extra_scripts %}