{% extends 'base.html' %}
{% load static %}

{% block title %}Clienti{% endblock %}

<?php // Verifica che quando clienti.php viene aperta non ci sia un valore per la GET.
$cliente_filtro = '';
if (isset($_GET['codice'])) {
    $codiceCliente_filtro = htmlspecialchars($_GET['codice']);
}
?>

{% block content %}
<div class="contenitore-centrale">
    <aside class="colonna-filtro">
        <h3>Filtra i clienti</h3>
        <form id="filtro-clienti-form">

            <label for="codice">Codice Cliente:</label>
            <input type="text" id="Codice" name="Codice" value="<?php echo $codiceCliente_filtro ?>"><br>

            <label for="nome">Nome:</label>
            <input type="text" id="Nome" name="Nome"><br>

            <label for="cognome">Cognome:</label>
            <input type="text" id="Cognome" name="Cognome"><br>

            <label for="cf">Codice fiscale:</label>
            <input type="text" id="Cf" name="Cf"><br>

            <label>Data di nascita:</label>
            <div class="input-range">
                <input type="date" id="DataNas_min" name="DataNas_min" placeholder="da">
                <span>-</span>
                <input type="date" id="DataNas_max" name="DataNas_max" placeholder="a">
            </div><br>

            <label for="indirizzo">Indirizzo:</label>
            <input type="text" id="Indirizzo" name="Indirizzo"><br>

            <label for="tel">Telefono:</label>
            <input type="text" id="Tel" name="Tel"><br>

            <label for="email">Email:</label>
            <input type="text" id="Email" name="Email"><br>

            <button type="submit">Cerca</button>
        </form>
    </aside>

    <main class="colonna-risultati" id="risultati">
        <h2>CLIENTI</h2>

            <table>
                <thead>
                    <tr>
                        <th>Codice Cliente</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Codice Fiscale</th>
                        <th>Data di Nascita</th>
                        <th>Indirizzo</th>
                        <th>Tel <i class="fa-solid fa-phone-volume"></i></th>
                        <th>Email <i class="fa-solid fa-envelope"></i></th>
                        <th>n.Abb</th>
                        <th>n.Prenotazioni</th>
                    </tr>
                </thead>
                <tbody id="risultati-tabella-clienti">
                    {% for cliente in clienti_data %}
                    <tr>
                        <td>{{ cliente.codice }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cognome }}</td>
                        <td>{{ cliente.cf }}</td>
                        <td>{{ cliente.dataNas }}</td>
                        <td>{{ cliente.indirizzo }}</td>
                        <td>{{ cliente.tel }}</td>
                        <td>{{ cliente.email }}</td>
                         <td>    
                            <a href="{% url 'abbonamenti:abbonamenti' cliente.codice %}">
                                {{ cliente.n_abb }}
                            </a>
                        </td>
                        <td>    
                            <a href="{% url 'prenotazioni:prenotazioni_cliente' cliente.codice %}">
                                {{ cliente.n_prenotazioni }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/crud_functions.js' %}"></script>
    <script src="{% static 'js/clienti_logic.js' %}"></script>
{% endblock extra_scripts %}